<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/create">

        <button>Create</button>
    </a>
    <form id="create-room-button" action="/create-room" method="POST">
      <input type="hidden" name="submitted" value="true">
      <button type="submit">Create Room</button>
    </form>


    <% if (users && users.length > 0) { %>
        <table border="1px">
            <tr>
                <th>User Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Win</th>
                <th>Loss</th>
                <th>Hours Played</th>
                <th>Action</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.userGameId %></td>
                    <td><%= user.userGameUsername %></td>
                    <td><%= user.userGamePassword %></td>
                    <td>
                        <!-- chat gpt untuk ejs ini, sorry confused -->
                        <% usersBios.forEach((userBios) => { %>
                          <% if (userBios.userGameId === user.userGameId) { %>
                            <%= userBios.name %>
                          <% } %>
                        <% }) %>
                    </td>
                    <td>
                        <% usersBios.forEach((userBios) => { %>
                            <% if (userBios.userGameId === user.userGameId) { %>
                              <%= userBios.email %>
                            <% } %>
                          <% }) %>
                    </td>
                    <td>
                        <% usersBios.forEach((userBios) => { %>
                            <% if (userBios.userGameId === user.userGameId) { %>
                              <%= userBios.gender %>
                            <% } %>
                          <% }) %>
                    </td>
                    <td>
                        <% usersHistory.forEach((userHistory) => { %>
                            <% if (userHistory.userGameId === user.userGameId) { %>
                              <%= userHistory.win %>
                            <% } %>
                          <% }) %>
                    </td>
                    <td>
                        <% usersHistory.forEach((userHistory) => { %>
                            <% if (userHistory.userGameId === user.userGameId) { %>
                              <%= userHistory.loss %>
                            <% } %>
                          <% }) %>
                    </td>
                    <td>
                        <% usersHistory.forEach((userHistory) => { %>
                            <% if (userHistory.userGameId === user.userGameId) { %>
                              <%= userHistory.timePlayhrs %>
                            <% } %>
                          <% }) %>
                    </td>
                   
                    <td>
                        <form action="/updateForm/<%= user.userGameId %>" method="post" style="display: inline-block;">
                            <button type="submit">Update</button>
                        </form>
                        <!-- form for deletion -->
                        <form action="/delete/<%= user.userGameId %>" method="post" style="display: inline-block;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <div>No users found.</div>
    <% } %>
    
</body>
</html>
