<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style-play.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>