<!-- views/roomList.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Rooms</title>
</head>
<body>
    <h1>Available Rooms</h1>
    <ul>
        <% rooms.forEach(room => { %>
            <li>
                Room ID: <%= room.id %>
                <a href="/play/<%= room.id %>">
                    <button class="btn btn-warning btn-sm">Play Now</button>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
