<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <form action="/sign" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username"type="text"class="form-control" id="username"/>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="your password"
          />
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
            <select name="role" id="role">
                <option value="player">Player</option>
                <option value="superadmin">Superadmin</option>
            </select>

        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input name="email" type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <input name="gender" type="text" class="form-control" />
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
